pytest
pytest-cov
readme-coverage-badger
flake8
flake8-docstrings
flake8-import-order
flake8-colors
black
isort
pre-commit
freezegun
# mkdocs-material
# mkdocs-gen-files
# mkdocstrings-python
# mkdocs-literate-nav
# mkdocs-section-index
# mkdocs-include-markdown-plugin
